html {
    margin: 0;
}

h1,
h2 {
    text-align: center;
}

span {
    display: block;
}

.canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}

.button {
    width: 100px;
    height: 100px;
    border: solid black 1px;
    display: inline-block;
    border-radius: 20px;
}

#violet {
    background: rgb(81, 13, 126);
}

#pink {
    background: rgb(209, 72, 186);
}

#blue {
    background: rgb(24, 37, 218);
}

#orange {
    background: rgb(206, 92, 17);
}